@mixin transform($string){
  -webkit-transform: $string;
  -moz-transform:    $string;
  -ms-transform:     $string;
  -o-transform:      $string;
}

body {
  background-color:#222;
  padding:0;margin:0;
  font-family:helvetica, arial, 微软雅黑;
  font-size:16px;
  line-height:1.5em;
  color:#222;

  p {
    margin:0;
    padding:0;
  }

  h3 {
    margin:0;padding:0;
    font-size:16px;
    font-family:helvetica, arial, 微软雅黑;
    margin-bottom:10px;
  }

  hr {
    border:0 none;
    height:0;line-height:0;
    border-bottom:dashed 1px #ccc;
  }

  ul {
    padding:0;margin:0;
    li {
      padding:0;margin:0;
      margin-left:20px;
    }
  }
}

body {
  background-color: #fff;
  &:before {
    content: "";
    position:absolute;
    top:0;left:0;right:0;height:400px;
    background:url(../images/wallpaper2.png) center right;
    border-bottom:solid 2px rgba(black, 0.3);
  }

  .header {
    width:1000px;
    height:450px;
    margin:0 auto;
    position:relative;

    .eshare-logo {
      width:218px;height:60px;
      position:absolute;
      top:30px;left:20px;
      background:url(../images/eshare-logo.png);
    }

    .logo-text {
      width:550px;height:220px;
      position:absolute;
      top:100px;left:30px;
      background:url(../images/logo-text.png);
    }

    .android-cover {
      width:161px;height:300px;
      position:absolute;
      top:60px;right:0px;
      background:url(../images/android-cover.png);
    }

    .pc-cover {
      width:488px;height:300px;
      position:absolute;
      top:140px;right:30px;
      background:url(../images/pc-cover.png);
    }

    a.preview {
      border:solid 1px rgba(white, 0.9);
      background-color:rgba(#fff, 0.9);
      position:absolute;
      height:48px;line-height:48px;
      text-align:center;
      width:160px;
      color:#333;
      text-decoration:none;
      border-radius:5px;
      left:40px;
      top:310px;
      font-weight:bold;
      i{
        color:#666;margin-right:10px;
      }

      &:hover {
        background-color:rgba(#fff, 1);
      }
    }
  }

  .content {
    width:1000px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    margin-bottom:60px;

    h1 {
      color:#2E424D;
      font-weight:normal;
      font-size:24px;
      border-bottom:solid 1px #ddd;
      padding-bottom:30px;
      margin-left:40px;
      margin-right:40px;
    }

    .product {
      float:left;
      width:50%;
      margin-top:30px;

      h2 {
        color:#2E424D;
        font-weight:normal;
        font-size:18px;
        margin:0;
        margin-left:190px;
      }

      p {
        margin-left:190px;
        margin-top:10px;
        color:#666;
      }

      a {
        display:block;
        margin-left:190px;
        margin-top:20px;
        color:white;
        background:#159BC9;
        height:32px;line-height:32px;
        width:120px;
        border-radius:5px;
        text-decoration:none;
        text-align:center;
        i{
          opacity:0.7;margin-right:5px;
        }
      }

      .num {
        float:left;
        margin-left:40px;
        margin-top:20px;
        width:100px;height:100px;line-height:100px;
        text-align: center;
        color:#0AB4F1;
        font-family:arial;
        font-size:30px;
        font-weight:bold;
        border:solid 2px #ddd;
        border-radius:100px;
      }
    }
  }

  .content.aboutus {
    position:relative;
    p {
      margin-left:40px;margin-right:40px;
      line-height:1.8em;
    }
    .logo-2013 {
      width:180px;height:180px;
      background:url(../images/logo_2013.png) no-repeat 3px 3px;
      position:absolute;
      top:20px;right:50px;
      @include transform(scale(0.6, 0.6));
      padding:3px;
      border:solid 1px #ddd;
    }
  }

  .content.info {
    .block.doc {
      border-bottom:dashed 1px #ddd;
    }

    .block {
      margin:0 40px;
      overflow:hidden;
      margin-bottom:30px;

      h2 {
        color:#159BC9;
        font-weight:normal;
        margin:0;
        margin-bottom:20px;
        font-size:18px;
        height:32px;line-height:32px;
        i {
          background-color:#2C9BE2;
          color:white;
          display:inline-block;
          width:24px;height:24px;line-height:24px;
          font-size:14px;
          text-align:center;
          margin-right:10px;
          border-radius:30px;
        }
        span {
          position:relative;top:2px;
        }
      }

      .doc {
        height:75px;
        position:relative;
        margin-bottom:20px;
        margin-right:40px;
        float:left;

        &:before {
          content:"";
          width:75px;height:75px;
          background:url(../images/fileico_v4.png) -150px -144px;;
          position:absolute;
        }

        &.zip {
          &:before {
            background:url(../images/fileico_v4.png) -450px -144px;;
          }
        }

        .title {
          margin-left:100px;
        }

        a.download {
          margin-left:100px;
          display:block;
          background:#159BC9;
          border-radius:5px;
          color:white;
          text-align:center;
          height:32px;line-height:32px;
          width:120px;
          text-decoration:none;
          margin-top:15px;
        }
      }

      .features {
        .feature {
          float:left;
          width:33%;

          h3 {
            color:darken(#159BC9, 20%);
            font-weight:normal;
            margin:0;
            margin-bottom:15px;
            font-size:18px;
            height:32px;line-height:32px;
            margin-left:20px;
            i {
              background-color:darken(#2C9BE2, 20%);
              color:white;
              display:inline-block;
              width:24px;height:24px;line-height:24px;
              font-size:14px;
              text-align:center;
              margin-right:10px;
              border-radius:30px;
            }
            span {
              position:relative;top:2px;
            }
          }

          .desc {
            margin-left:20px;
            font-size:16px;
            margin-right:20px;
            margin-bottom:20px;
            height:100px;
          }

          .snap {
            margin-bottom:20px;
            margin-left:19px;
            position:relative;
            img {
              display:block;
              width:260px;
              border:solid 1px #ddd;
              padding:2px;
            }
            span {
              font-weight:bold;
              // border-radius:5px;
              border-bottom:solid 2px rgba(black, 0.2);
              margin-top:1px;
              width:246px;
              display:block;
              height:32px;line-height:32px;
              background-color:#f7f7f7;
              padding:0 10px;
              font-size:14px;
              i {margin-right:10px;color:#F9AA29;}

              // position:absolute;
              // bottom:3px;
              // left:3px;width:240px;
              // background:rgba(black, 0.7);
              // color:white;
              // border-radius:0;
              border-radius:0 0 3px 3px;
            }
            a.button {
              display:block;
              background-color:#146294;
              color:white;
              border-radius:3px;
              height:32px;line-height:32px;
              text-decoration:none;
              text-align:center;
              width:266px;
              margin-top:10px;

              i {margin-right:10px;margin-left:-20px;}
              &:hover {
                background-color:lighten(#146294, 10%);
              }
            }
          }
        }
      }
    }
  }

  .foot {
    clear:both;
    width:1000px;
    margin:0 auto;
    position:relative;
    border-top:solid 1px #ddd;

    height:60px;line-height:60px;
    margin-bottom:30px;
  }
}